<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  {% load staticfiles %}
</head>
<body>
  <center><h1>Country Add</h1></center>
  <center>
  <table border="1">
        <form name="registration" id="f" action="/save/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <tr>
                <td>Country Name</td>
                <select name="country_name" required>
                  <option selected disabled="">Select Country</option>
                  {% for choice in obj %}
                  <option value="{{choice.country_name}}">{{choice.country_name}}</option>
                  {% endfor %}
                </select>
            </tr>
            <tr>
                <td>State Name</td>
                <td><input type="text" name="state_name" id="state_name"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add"></td>
            </tr>
        </form>
    </table>
  </center>
</body>
</html>